
    <form action="productos" method="post">

        <h1 style="color: blue;">INGRESE PRODUCTO</h1>
        <br>
        <label>Nombre</label>
        <br>
        <input type="text" name="Nombre">
        <br>
        <label>Precio</label>
        <br>
        <input type="text" name="Precio">
        <br>
        <label>Foto</label>
        <br>
        <input type="text" name="Foto">
        <br>
        <br>
        <br>
        <button type="submit" style="background-color: chartreuse;">Guardar</button>
    </form>
